<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha512-bac54101debafcda5535f0607b5f60c2cda3e896629e771ad76ac07b697e77e4242d4f5f886d363b55fc43a85ea48a6bfc460a66f2b1fc8f56b27ba326e3a604" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/bootstrap.min.js" integrity="sha512-ef6583f7684bb3b4f91405e7def90d65f9561baa609540c3a66f3b4de4267d283c2a7af298bd86df447b6ace05993c2182ef47ede4b30c25f79a38ad49e70a9f" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/htmx.min.js" integrity="sha512-4aa576e2549172d85dd4183439b83f5bfa9684a752b103c8577e3631077ca8379e63f809b7edaa9ac2e1bad6e540d0ee531d17b36261ec3f26fbb4b56f4c10c8" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/default.js"></script>
    <title>{% block title %}{% endblock %}</title>

    {% block extension %}{% endblock %}

  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: inherit; border-bottom: 4px solid #fff">
      <div class="container-fluid">
        <img src="/static/LAPS.ico" class="navbar-brand" width="2.5%" height="auto" alt="MLAPS Icon"></img>
        <a class="navbar-brand" href="#">MLAPS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/access_log">Access Log</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/legal_notice">Legal Notice</a>
            </li>
          </ul>
        </div>
      </div>
      <br>
      {% block outerContent %}{% endblock %}
    </nav>

    <div class="container-fluid p-5">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
