{% extends "public.html" %}

{% block title %}
    MLAPS Legal Notice
{% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item"><a href="https://www.flaticon.com/free-icons/laptop" class="link-dark" title="laptop Icons">Laptop icons created by Vectors Market - Flaticon</a></li>
    <li class="list-group-item">Shoutout to <a href="https://github.com/joshua-d-miller/macOSLAPS" class="link-dark">macOSLAPS</a> - i first used and inspired me to evolve the idea to a full server-client system. </li>
</ul>
{% endblock %}
