<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha512-bac54101debafcda5535f0607b5f60c2cda3e896629e771ad76ac07b697e77e4242d4f5f886d363b55fc43a85ea48a6bfc460a66f2b1fc8f56b27ba326e3a604" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/bootstrap.min.js" integrity="sha512-ef6583f7684bb3b4f91405e7def90d65f9561baa609540c3a66f3b4de4267d283c2a7af298bd86df447b6ace05993c2182ef47ede4b30c25f79a38ad49e70a9f" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/htmx.min.js" integrity="sha512-4aa576e2549172d85dd4183439b83f5bfa9684a752b103c8577e3631077ca8379e63f809b7edaa9ac2e1bad6e540d0ee531d17b36261ec3f26fbb4b56f4c10c8" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/default.js"></script>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body class="bg-dark">
    {% block outerContent %}{% endblock %}
    <div class="container">
      <div class="row align-items-center justify-content-md-center" style="height:400px">
          <div class="col col-md-3 text-center">
            {% block content %}{% endblock %}
          </div>
      </div>
    </div>
  </body>
</html>
