{% extends "public.html" %}

{% block title %}
    MLAPS Share PW
{% endblock %}

{% block outerContent %}
<div id="response-div"></div>
{% endblock %}

{% block content %}
<input type="password" id="input-password" placeholder="Enter authentication password">

<form hx-post="/api/share_password" hx-target="#response-div" _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #response-div">
    <input type="hidden" id="rid" name="rid" value="{{ rid }}">
    <input type="hidden" id="password" name="password" required>
    <input type="submit" hidden />
</form>
<script>
    const getSHA256Hash = async (input) => {
        const textAsBuffer = new TextEncoder().encode(input);
        const hashBuffer = await window.crypto.subtle.digest("SHA-256", textAsBuffer);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hash = hashArray
            .map((item) => item.toString(16).padStart(2, "0"))
            .join("");
        return hash;
    };
    document.getElementById('input-password').addEventListener('input', hashPassword)
    async function hashPassword(){
       var pw = document.getElementById('input-password').value
       var hashed = await getSHA256Hash(pw);
       document.getElementById('password').value = hashed
    }
</script>
{% endblock %}